<div>
  <div class="profile-title">
    <h2>Menu</h2>
  </div>
  <div class="profile-description">
    <ul class="ul-profile">
      <li><a href="/dashboard"><i class="fas fa-home"></i> Home</a></li>
      <li><a href="/dashboard/profile"><i class="fas fa-user-circle"></i> Profile</a></li>
    </ul>
  </div>
</div>