<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>

  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Welcome!</h3>
                <form>

                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae provident dignissimos alias soluta
                    et nesciunt impedit. Rem dolorem exercitationem velit fugiat ipsum iusto dignissimos dolor ut
                    eligendi fuga accusantium voluptas, tempora corrupti nobis iure recusandae quod at laborum iste
                    suscipit magnam. Optio, omnis perspiciatis dolores voluptates.
                  </p>

                  <a href="/login" class="btn btn-secondary btn-block">Login</a>
                  <a href="/register" class="btn btn-primary btn-block mb-2">Register</a>
                  <div class="text-center">
                    <a class="small" href="#">Forgot password?</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>