<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/navbar') %>
  </header>

  <main>
    <div class="main-content">
      <div class="profile-content">
        <%- include('../partials/profile') %>
      </div>
      <div class="feed-content">
        <h2 class="text-center mb-2">Your 100T</h2>
        <%- include('../partials/personal') %>
      </div>
    </div>
  </main>
  <script src="/js/index.js"></script>
</body>

</html>